/*- Custom style -*/

// -- Put custom style under this point -- //

/*- Fix footer links color -*/
footer{
  a {
  	color: $background-color;
  	&:hover,
  	&:focus {
  		color: darken($background-color, 5%);
  	}
  }
}

/*- Fix pagination links color -*/
.pagination {
  a:hover {
    background-color: lighten($main-color, 50%);
  }
}

/*- Sticky footer. Solved by flexbox -*/

#wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#container {
  flex: 1;
}
