<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item">
  <div class="box-masonry">
    {{ if .image }}
    {{ if .url }}
      <a href="{{ .url }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
	<img src="{{ .image }}" alt="" class="img-responsive{{ if .pad }} pad{{ end }}">
      </a>
    {{ else }}
      <img src="{{ .image }}" alt="" class="img-responsive{{ if .pad }} pad{{ end }}">
    {{ end }}
    {{ end }}
    <div class="box-masonry-text">
      {{ if .title }}
      {{ if .url }}
	<h4><a href="{{ .url }}">{{ .title }}</a></h4>
      {{ else }}
	<h4>{{ .title }}</h4>
      {{ end }}
      {{ end }}
      <div class="box-masonry-description">
	<p>
	{{ with .description }}
	  {{ . | markdownify }}<br><br>
	{{ end }}
	</p>
      </div>
    </div>
  </div>
</div>
