<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">

    <div id="profile" itemprop="author" itemscope itemtype="http://schema.org/Person">

      {{ with $.Site.Params.portrait }}
      <div class="portrait" itemprop="image"
           style="background-image: url('{{ . }}');">
      </div>
      {{ end }}

      <div class="portrait-title">
        <h2 itemprop="name">{{ $.Site.Params.name }}</h2>
        <h3 itemprop="jobTitle">{{ $.Site.Params.role }}</h3>
        {{ if $.Site.Params.organization }}
        <h3 itemprop="worksFor">
          {{ with $.Site.Params.organization_url }}<a href="{{ . }}" target="_blank">{{ end }}
          {{ $.Site.Params.organization }}
          {{ if $.Site.Params.organization_url }}</a>{{ end }}
        </h3>
        {{ end }}
        {{ with .Site.Params.bio }}
          <p class="sidebar-p">{{ . | safeHTML }}</p>
        {{ end }}
      </div>

    </div>

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>
  </div>
</div>
